Request shouldn't enforce Transfer-Encoding

> Section 3.6 of RFC 2616:
> A server which receives an entity-body with a transfer-coding it does not understand SHOULD return 501 (Unimplemented), and close the
connection.
> So it does address this already.

https://stackoverflow.com/questions/692910/http-transfer-encoding-and-requests